/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: auto;
  padding: 20px;
  max-width: 65ch;
  text-align: left;
  background-color: #01011b;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #fff;
}

h2 a {
  color: #fff;
  text-decoration: none;
}

h2 a:hover {
  color: #bad5ff;
}

a {
  color: #bad5ff;
}
nav a {
  margin: 0 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

.title {
  font-size: 1.6em;
  margin: 0.25em 0 0;
  line-height: 1.1em;
  letter-spacing: -0.02em;
}
hr {
  border-top: 1px solid #ddd;
  margin: 1rem 0;
}

header {
  margin: 0em 0 2em;
}
h2 {
  margin: 0.5em 0;
  font-size: 2em;
  text-align: center;

  background-image: linear-gradient(0deg, #ffffff, #c6c7fd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

nav {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}



.heroImage {
  max-width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 2rem;
}





h3 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.1em;
  letter-spacing: -0.02em;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: unset;
}
ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
ul li time {
  font-style: italic;
  color: rgb(198, 198, 198);
}
ul li p {
  margin: 5px 0;
}

p.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

img.thumb {
  border-radius: .25rem;
  float: right;
  margin-left: .75rem;
  aspect-ratio: 16/9;
  object-fit: cover;
}


footer {
  font-size: 70%;
  margin-bottom: 100px;
  padding: 25px;
  text-align: center;
}
