---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Fabrizio Giordano. All rights reserved. <a href="/disclaimer">Disclaimer</a>
</footer>
<style>
  footer {
    font-size: 70%;
    margin-bottom: 100px;
    padding: 25px;
    text-align: center;
  }
</style>
