<div style="display:flex; padding: 20px 0 30px;">
  <div style="display:flex; margin-right: 10px">
    <div
      style="width: 60px; height: 60px; border-radius: 100%; overflow:hidden;"
    >
      <img
        alt="Fabrizio Giordano avatar"
        width="60px"
        height="78px"
        src="/images/fabrizio.giordano.jpg"
      />
    </div>
  </div>
  <div>
    Written by <strong>Fabrizio</strong> who lives and works in New York. He is building
    useful things.
    <a href="https://twitter.com/fabrygio">You should follow him on Twitter</a>
  </div>
</div>
