---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <h2><a href="/">{SITE_TITLE}</a></h2>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="https://twitter.com/fabrygio" target="_blank">Twitter</HeaderLink>
    <HeaderLink href="https://github.com/fabriziogiordano" target="_blank">GitHub</HeaderLink>
    <HeaderLink href="https://www.linkedin.com/in/fabriziogiordano/" target="_blank">Linkedin</HeaderLink>
  </nav>
</header>
