---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <style>
    header {
      margin: 0em 0 2em;
    }
    h2 {
      margin: 0.5em 0;
      font-size: 2em;
      text-align: center;

      background-image: linear-gradient(0deg, #ffffff, #c6c7fd);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    nav {
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  </style>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="https://twitter.com/fabrygio" target="_blank"
      >Twitter</HeaderLink
    >
    <HeaderLink href="https://github.com/fabriziogiordano" target="_blank"
      >GitHub</HeaderLink
    >
    <HeaderLink
      href="https://www.linkedin.com/in/fabriziogiordano/"
      target="_blank">Linkedin</HeaderLink
    >
  </nav>
</header>
